<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/templates/head.ejs')  %>
  </head>
  <body style="background-color: #e5e5e5; font-family: 'Rubik', sans-serif">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-center mt-5">
                <img src="images/FireAndText.png" height="500px" alt=""> <br>
      
            </div>
        </div>
        <div class="row justify-content-center">
          <div class="w-200 ">This page doesn't exist! Head back to the <a href="/">Home Page</a>.</div>
        </div>

        


    </div>
    

    <%- include('partials/templates/defaults.ejs')  %> 
  </body>
</html>