<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/templates/head.ejs')  %> 
  </head>
  <body>

    <div class="container-fluid">

      <%- include('partials/content/header.ejs')  %> 

      <div class="row pt-3 pb-3 pr-0 title">

        <div class="col pr-0 d-flex justify-content-center" style="font-size:80px;">
          <h1>Welcome to Fire Takes</h1>
        </div>

    </div>

    </div> <!-- end container fluid -->


    <%- include('partials/templates/defaults.ejs')  %> 

  </body>
</html>