<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/templates/head.ejs')  %> 
  </head>
  <body>

    <div class="container-fluid">

      <%- include('partials/content/header.ejs')  %> 

      <div class="row pt-3 pb-3 pr-0 title">

        <div class="col pr-0 d-flex justify-content-center">
          <h1 style="font-family: monospace;">Welcome to <b style="color:orange;">Fire Takes</b></h1>
        </div>

    </div>

    </div> <!-- end container fluid -->


    <%- include('partials/templates/defaults.ejs')  %> 

  </body>
</html>