<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/templates/head.ejs')  %> 
  </head>
  <body>
    <!-- <form action="/registration" method="POST">
      Register your username: <input type="text" name="username"> <br>
      Register your password: <input type="text" name="password"> <br>
      <input type="submit">
    </form> -->
    <!-- <h1>LOGIN form </h1>
    <form action="/login" method="POST">

        Username: <input type="text" name="username"> <br>
        Password: <input type="password" name="password"> <br>
        <input type="submit">

    </form> -->
    <!-- <h1>REGISTRATION form </h1>
    <form action="/registration" method="POST">

        REGISTER Username: <input type="text" name="username"> <br>
        REGISTER Password: <input type="password" name="password"> <br>
        <input type="submit">

    </form> -->


    <div class="container-fluid">

      <%- include('partials/content/header.ejs')  %> 

    </div> <!-- end container fluid -->


      <%- include('partials/templates/defaults.ejs')  %> 

  </body>
</html>