<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/templates/head.ejs')  %> 
  </head>
  <body>

      Login Page

      <%- include('partials/templates/defaults.ejs')  %> 

  </body>
</html>