<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/templates/head.ejs')  %> 
  </head>
  <body>

    <div class="container-fluid">

      <%- include('partials/content/header.ejs')  %> 

    </div> <!-- end container fluid -->


      <%- include('partials/templates/defaults.ejs')  %> 

  </body>
</html>