<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/templates/head.ejs')  %> 
  </head>
  <body>

    <div class="container-fluid">

      <%- include('partials/content/header.ejs')  %> 

      <div class="row mb-5">
        <!-- empty space -->
      </div>

      <div class="row pt-3 pb-3 pr-0">

        <!-- this will be the start of the forEach that 
                loops through the reviews in the database -->

        <div class="col-lg-3 prof">

            <!-- album recieved from api here -->
            <div class="row pt-3 justify-content-center">
                    <img src="../images/placeholder.png" alt="">
                   
            </div>

            <div class="row pt-2 justify-content-center">
                    <ul style="padding-left:0px;">
                        <li class="profileLink">Notifications</li>
                        <li class="profileLink">Delete Account</li>
                    </ul>
            </div>


        </div>

        <div class="col-lg-9 pl-5 reviews">
            <div class="row w-100 pt-3">
                <h1 style="font-family: 'Courier New', Courier, monospace;">My Reviews</h1>
            </div>
            <hr>
            <div class="row ml-2 mt-5">
                <!-- link to the albums details on the albums page -->
               <a href="/albums"><img class="cover mr-5" src="../images/rodeo.jpg" alt=""></a>
                <span><a href="#" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Review</a></span>
            </div>

            <!-- save album rating as integer and add a checked star
                    for each -->

            <div class="row ml-2 mt-3">
                <span class="one fa fa-star fa-2x checked"></span>
                <span class="two fa fa-star fa-2x checked"></span>
                <span class="three fa fa-star fa-2x checked"></span>
                <span class="four fa fa-star fa-2x checked"></span>
                <span class="five fa fa-star fa-2x checked"></span>
            </div>

            <div class="row">
                <blockquote class="lead blockquote text-left">
                    
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores amet laudantium perspiciatis quibusdam sapiente consectetur iure, voluptates expedita voluptatibus vero quasi odio quia. Sed, rerum officia? Sed porro consequatur error.

                </blockquote>
            </div>

        </div>

    </div> <!-- end of individual review block and db.forEach -->

    </div> <!-- end container fluid -->


    <%- include('partials/templates/defaults.ejs')  %> 

  </body>
</html>