<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/templates/head.ejs')  %> 
  </head>
  <body>

    <div class="container-fluid">

      <%- include('partials/content/header.ejs')  %> 

      <div class="row mt-5 mb-5">

      </div>

      <div class="row pt-3 pb-3 pr-0">

        <div class="col-3">
            <img src="../images/placeholder.png" alt="">

            <ul>
                <li class="profileLink">Notifications</li>
                <li class="profileLink">Delete Account</li>
            </ul>

        </div>

        <div class="col-9 pr-0 d-flex justify-content-start">
          <h1 style="font-family: monospace;">My Reviews</h1>
        </div>

    </div>

    </div> <!-- end container fluid -->


    <%- include('partials/templates/defaults.ejs')  %> 

  </body>
</html>