@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* font-size response */

@media (max-width: 288px)
{
    html { font-size:0.4em; }
}

@media (min-width: 289px) and (max-width: 414px)
{
    html { font-size:0.6em; }
}

@media (min-width: 415px) and (max-width: 991px)
{
    html { font-size:0.8em; }
}

@media (min-width: 992px) and (max-width: 1199px)
{ 
    html {font-size:1.1em;}
}

@media (min-width: 1300px) {  
    html {font-size:1.3em;}    
}

/* styling */

*{
    margin:0px;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}


body{
    font-family: 'Rubik', sans-serif;
}

header {
    font-size: 1.8rem;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

/* nav */

header .navbar-default {
    border: none;
    border-radius: 0;
    padding: 10px 0;
}

.navbar-inverse {
    border: 0;
}

header .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    color: orange;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fec89a;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: orange;
}

i{
    color:rgb(255, 11, 11);
}

a{
    color:#fec89a;
    padding: 0px;
}

a:hover{
    text-decoration: none;
}


.nav-link{
    padding: 0px;
}

/* simple animations */
.nav-link:hover
{
    box-shadow:
        1px 1px rgb(255, 11, 11),
        2px 2px rgb(255, 11, 11),
        3px 3px rgb(255, 11, 11);

    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    color: orange;
}

.custom-toggler.navbar-toggler {
    border-color: orange;
} 

.custom-toggler.navbar-toggler-icon {
    color: orange;
} 

.navbar-dark .custom-toggler .collapzoid:hover{
    color:pink;
}

.threed:hover{
    box-shadow:
        1px 1px rgb(255, 11, 11),
        2px 2px rgb(255, 11, 11),
        3px 3px rgb(255, 11, 11);

    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

ul{
    list-style-type: none;   
}

li{
    cursor: pointer;
}


#nameList>li:hover{
    color:rgb(255, 11, 11);
}
#albumList>li:hover{
    color:rgb(255, 11, 11);
}

.profileLink:hover{
    color:rgb(255, 11, 11);
    font-size: larger;
}

/* .title:hover{
    background-color:#fec89a; 
    color:orange;
} */

/* .titleSwap:after{
    content:'album';
}
.titleSwap:hover:after{
    content:'artist';
}
.titleSwap{
    color:black;
}
.titleSwap:hover{
    color:orange;
    font-size: 70px;
}
.titleSwap2{
    color:black;
}
.titleSwap2:hover{
    color:orange;
    font-size: 70px;
} */

.boing:hover{
    background-color: orange;
    border: orange 1px solid;
    color:black;
}

.FTSWAP:after{
    content:'Fire Takes';
}

.FTSWAP:hover:after{
    content:'Go Home?';
}

.duh:hover:after{
    font-size: 15px;
    content:'of course we do!'
}

.yes:hover:after{
    font-size: 15px;
    content:"we're just an api call without you"
}

.pls:hover:after{
    font-size: 15px;
    content:"please, boo"
}

/*CAROUSEL STYLING*/

.carousel-indicators li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: black;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: orangered;
}

.carousel {
    width:640px;
}

/* .titleSwap2:after{
    content:'album';
}
.titleSwap2:hover:after{
    content:'artist';
} */

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;

}

.edit{
    color:black;
}
.edit:hover{
    color:orangered;
    font-size: larger;
}
.cover:hover{
    height:215px;
    width:215px;
}

#profilePhoto{
    border-radius: 50%;
}

.upload:hover{
    background-color: orange;
    color:black;
    border:1px orange solid;
}

.prof:hover{
    background-color: #a8dadc;
}

.reviews:hover{
    background-color: #fec89a;
}

.reg:after{
    content:'Register'
}

.reg:hover:after{
    content: "Too easy"
}

.reg:hover{
    background-color:orange;
    border:orange 1px solid;
    color:black;
}

.checked {
    color: orangered;
}

/* .cover{
    height:250px;
    width:250px;
} */

/* .search:hover{
    background-color:#fec89a;
} */

.row{
    margin-left: 0;
    margin-right: 0;
}

footer{
    background-color: #e5e5e5;
}

textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
}

