@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* font-size response */

@media (max-width: 288px)
{
    html { font-size:0.4em; }
}

@media (min-width: 289px) and (max-width: 414px)
{
    html { font-size:0.7em; }
}

@media (min-width: 415px) and (max-width: 991px)
{
    html { font-size:0.9em; }
}

@media (min-width: 992px) and (max-width: 1199px)
{ 
    html {font-size:1.1em;}
}

@media (min-width: 1200px) {  
    html {font-size:1.3em;}    
}

/* styling */

*{
    margin:0px;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}


body{
    font-family: 'Rubik', sans-serif;

}

header {
    font-size: 1.8rem;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

/* nav */

header .navbar-default {
    border: none;
    border-radius: 0;
    padding: 10px 0;
}

.navbar-inverse {
    border: 0;
}

header .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    color: orange;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fec89a;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: orange;
}

i{
    color:rgb(255, 11, 11);
}

a{
    color:#fec89a;
    padding: 0px;
}

.nav-link{
    padding: 0px;
}

/* simple animations */
.nav-link:hover
{
    box-shadow:
        1px 1px rgb(255, 11, 11),
        2px 2px rgb(255, 11, 11),
        3px 3px rgb(255, 11, 11);

    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    color: orange;
}

.custom-toggler.navbar-toggler {
    border-color: orange;
  } 
.custom-toggler.navbar-toggler-icon {
    color: orange;
  } 

.navbar-dark .custom-toggler .collapzoid:hover{
    color:pink;
}

.threed:hover{
    box-shadow:
        1px 1px rgb(255, 11, 11),
        2px 2px rgb(255, 11, 11),
        3px 3px rgb(255, 11, 11);

    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

ul{
    list-style-type: none;   
}

li{
    cursor: pointer;
}

#nameList>li:hover{
    color:rgb(255, 11, 11);
}

.title:hover{
    background-color:#fec89a;
    color:orangered;
}


.search:hover{
    background-color:#fec89a;
}

.row{
    margin-left: 0;
    margin-right: 0;
}
/* 
.logo{
    color: orange;
} */
