<!-- footer partial -->
<footer>

    <div class="row mb-1 mt-5" style="font-size: 16px;">
        <div class="col d-flex justify-content-center">
            Fire Takes Inc.© 2020 All rights reserved. By Cainan Barboza, Dan Gelok and Micah Peterson
        </div>
    </div>

</footer>