
<!-- accept a pageID from the route to render correct Jumbotron image -->

<header>

    <!-- jumbotron conditionals -->

    <% if (pageID == "Albums") { %>
        <div class="jumbotron d-none d-lg-block"
        style="background: url(../images/albums.jpg) no-repeat 100% 5%;
        height: 45vh;
        margin-bottom: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: -200px;">
        </div>
    <% } %>

    <% if (pageID == "Home") { %>
        <div class="jumbotron d-none d-lg-block"
        style="background: url(../images/jumbotron2.jpg) no-repeat 100% 5%;
        height: 45vh;
        margin-bottom: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: -200px;">
        </div>
     <% } %>

    <% if (pageID == "Artists") { %>
        <div class="jumbotron d-none d-lg-block"
        style="background: url(../images/artists.jpg) no-repeat 100% 5%;
        height: 45vh;
        margin-bottom: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: -270px;">
        </div>
     <% } %>

    <% if (pageID == "My Profile") { %>
        <div class="jumbotron d-none d-lg-block"
        style="background: url(../images/profile.jpg) no-repeat 100% 5%;
        height: 45vh;
        margin-bottom: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: -100px;">
        </div>
     <% } %>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand threed pr-1 FTSWAP" href="/" style="color:orange;"> <img src="../../../images/FireAlone.png" class="mb-3" alt="fireTakesLogo" style="height:48px;width:48px;"></a>
        <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"  style="color:orange;">
          <span class="collapzoid"><i class="fa fa-arrow-circle-down" aria-hidden="true" style="color:orange;"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            
          <ul class="navbar-nav mr-auto">
              <% if (username) { %>
                <li class="nav-item">
                    <div class="row ml-3 mr-2 my-2 align-items-center justify-content-center">
                        <a class="nav-link ml-1 pr-1 threed" href="/profile" style="font-size:1.4rem;"><i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i>Profile <span class="sr-only">(current)</span></a>
                    </div>
                </li>
              <% } %>
              <% if (!username) { %>
                <li class="nav-item">
                    <div class="row ml-3 mr-2 my-2 align-items-center justify-content-center">
                        <a class="nav-link ml-1 pr-1 threed" href="/#reg" style="font-size:1.4rem;"><i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i>Register <span class="sr-only">(current)</span></a>
                    </div>
                </li>
              <% } %>
            <li class="nav-item ">
                <div class="row ml-3 mr-2 my-2 align-items-center justify-content-center">
                    <a class="nav-link ml-1 pr-1 threed" href="/artists" style="font-size:1.4rem;"><i class="fa fa-users mr-2" aria-hidden="true"></i>Artists</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="row ml-3 mr-2 my-2 align-items-center justify-content-center">
                    <a class="nav-link ml-1 pr-1 threed" href="/albums" style="font-size:1.4rem;"><i class="fa fa-music mr-2" aria-hidden="true"></i>Search</a>
                </div>
            </li>
          </ul>

          <div class="row ml-3 mr-2 my-2 align-items-center justify-content-center">
            <% if(!username) { %>
                <span class="nav-item">
                    <a class="nav-link ml-1 pr-1" data-toggle="modal" data-target="#exampleModalCenter" href="#" style="font-size: 20px;"><i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Log In</a>
                </span>
              <% } %>
            <% if(username) { %>
                <span class="nav-item">
                    <a class="nav-link ml-1 pr-1" data-toggle="modal" data-target="#logout" href="#" style="font-size: 20px;"><i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Log Out</a>
                </span>
            <% } %>


          </div>

          <div class="row ml-3 mr-2 my-2 align-items-center justify-content-center">
            <span class="nav-item">
                <a class="nav-link ml-1 pr-1" target="_blank" href="http://github.com/CainanB/DCbackendGroupProject.git" style="font-size: 20px;"><i class="fa fa-github mr-2" aria-hidden="true"></i>Github</a>
            </span>
          </div>

        </div>

    </nav>

</header>

<!-- Log In Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Log in</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/login"  method="POST">
                <div class="form-group">
                  <label for="username" class="col-form-label">Username</label>
                  <input type="text" class="form-control" id="usernameLogin" name="username">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Password</label>
                  <input type="password" class="form-control" id="passwordLogin" name="password">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button id="loginButton" type="submit" class="btn btn-success">Log In</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

<!-- Log Out Modal -->
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logout" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logout">Are you sure you want to log out?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Confirm Log Out
        </div>
        <div class="modal-footer">
            <form action="/logout" method="POST">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Log Out</button>
            </form>

        </div>
      </div>
    </div>
  </div>
