
<!-- accept a pageID from the route to render correct Jumbotron image -->



<header>

    <!-- jumbotron conditionals -->

    <% if (pageID == "Albums") { %>
        <div class="jumbotron d-none d-lg-block"
        style="background: url(../images/albums.jpg) no-repeat 100% 5%;
        height: 45vh;
        margin-bottom: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: -200px;">
        </div>
    <% } %>

    <% if (pageID == "Home") { %>
        <div class="jumbotron d-none d-lg-block"
        style="background: url(../images/jumbotron2.jpg) no-repeat 100% 5%;
        height: 45vh;
        margin-bottom: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: -200px;">
        </div>
     <% } %>

    <% if (pageID == "Artists") { %>
        <div class="jumbotron d-none d-lg-block"
        style="background: url(../images/artists.jpg) no-repeat 100% 5%;
        height: 45vh;
        margin-bottom: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-y: -270px;">
        </div>
     <% } %>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand threed pr-1" href="/" style="color:orange;">Fire Takes</a>
        <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"  style="color:orange;">
          <span class="collapzoid"><i class="fa fa-arrow-circle-down" aria-hidden="true" style="color:orange;"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div class="row ml-3 mr-2 my-2 align-items-center justify-content-center">
                    <a class="nav-link ml-1 pr-1 threed" href="/" style="font-size:1.4rem;"><i class="fa fa-home mr-2" aria-hidden="true"></i>Home <span class="sr-only">(current)</span></a>
                </div>
            </li>
            <li class="nav-item ">
                <div class="row ml-3 mr-2 my-2 align-items-center justify-content-center">
                    <a class="nav-link ml-1 pr-1 threed" href="/artists" style="font-size:1.4rem;"><i class="fa fa-users mr-2" aria-hidden="true"></i>Artists</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="row ml-3 mr-2 my-2 align-items-center justify-content-center">
                    <a class="nav-link ml-1 pr-1 threed" href="/albums" style="font-size:1.4rem;"><i class="fa fa-music mr-2" aria-hidden="true"></i>Albums</a>
                </div>
            </li>
          </ul>

          <div class="row ml-3 mr-2 my-2 align-items-center justify-content-center">
            <span class="nav-item">
                <a class="nav-link ml-1 pr-1" href="/login" style="font-size: 20px;"><i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Log In</a>
            </span>
          </div>

          <div class="row ml-3 mr-2 my-2 align-items-center justify-content-center">
            <span class="nav-item">
                <a class="nav-link ml-1 pr-1" target="_blank" href="http://github.com/CainanB/DCbackendGroupProject.git" style="font-size: 20px;"><i class="fa fa-github mr-2" aria-hidden="true"></i>Github</a>
            </span>
          </div>

        </div>

    </nav>

</header>