
<header>

    <div class="jumbotron d-none d-lg-block">
    </div><!-- jumbotron -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Music Review Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <div class="row ml-4 mr-2 my-2 align-items-center justify-content-center">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <a class="nav-link ml-1" href="/" style="font-size:1.3rem;">Home <span class="sr-only">(current)</span></a>
                </div>
            </li>
            <li class="nav-item">
                <div class="row ml-4 mr-2 my-2 align-items-center justify-content-center">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <a class="nav-link ml-1" href="/artists" style="font-size:1.3rem;">Artists</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="row ml-4 mr-2 my-2 align-items-center justify-content-center">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    <a class="nav-link ml-1" href="/albums" style="font-size:1.3rem;">Albums</a>
                </div>
            </li>
          </ul>

          <div class="row ml-4 mr-2 my-2 align-items-center justify-content-center">
            <span class="nav-item">
                <a class="nav-link ml-1" target="_blank" href="http://github.com/CainanB/DCbackendGroupProject.git"><i class="fa fa-github" aria-hidden="true"></i></a>
              </span>
          </div>

        </div>
    </nav>

</header>